# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# rage-mp
ragemp-server.exe
linux_x64.tar.gz
BugTrap-x64.dll
/bin
/dotnet/runtime
/dotnet/resources/JiggaautRPG/bin
/dotnet/resources/JiggaautRPG/obj
/dotnet/resources/JiggaautRPG/.vs
/dotnet/*.txt
/kek

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*